*
  margin 0
  padding 0
  outline 0
  vertical-align baseline
  -webkit-box-sizing border-box
  box-sizing border-box
  -webkit-tap-highlight-color transparent
  font-family "microsoft yahei","Lucida Grande",Helvetica,Arial,Verdana,sans-serif

.el-radio__input.is-checked+.el-radio__label
  color #606266

.spinner
  display none!important

.fr
  float right

.fl
  float left

.tal
  text-align left

.tac
  text-align center

.tar
  text-align right

.pointer
  cursor pointer

.dis-none
  display none

.dis-inline
  display inline-block!important

.dis-block
  display block!important

.cb:after
  clear both
  display table
  content ""

.ell
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

.ell3
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 3

.layout-flex
  display flex

for b1 in 10..100
  .wid-{b1}
    width b1 * 1%!important

for b in 1..60
  .mar{b}
    margin b * 1px

  .ml{b}
    margin-left b * 1px

  .mt{b}
    margin-top b * 1px

  .mr{b}
    margin-right b * 1px

  .mb{b}
    margin-bottom b * 1px

  .pad{b}
    padding b * 1px

  .pl{b}
    padding-left b * 1px

  .pt{b}
    padding-top b * 1px

  .pr{b}
    padding-right b * 1px

  .pb{b}
    padding-bottom b * 1px

  .ft{b}
    font-size b * 1px

// 颜色

.color-white
  color #fff

.color-black
  color #000

.color-gray3
  color #333

.color-gray6
  color #666

.color-gray9
  color #999


html,body
  height 100%

// 按钮样式
.new-btn
  color #FFF!important
  background-color #304056!important
  border-color #304056!important

// 搜索区域颜色
.search-group
  margin-top 20px
  padding-top 25px
  padding-bottom 25px
  background-color #f2f2f2

// input
.date-picker
  .el-input__inner
    border none!important
